* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  background-color: rgb(80, 80, 165);
  height: 100px;
  padding: 30px;
}
li {
  display: inline;
  font-style: normal;
  margin: 100px;
}
a {
  color: rgb(16, 35, 51);
}

img {
  width: 50px;
  height: 35px;
  margin: 10;
}

h1 {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#div-h1 {
  margin: 20px;
}

.box {
  display: inline-block;
  width: 308px;
  height: 400px;
  background-color: grey;
  border: solid 5px rgb(80, 80, 165);
  margin: 34px;
  padding: 10px;
  text-align: center;
}
body {
  background-image: url(images/Downtown-Cairo-Zamalek-the-Nile-river.jpg);
}
