* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  align-content: space-between;
  list-style-type: none;
}

li {
  display: inline;
  align-items: center;
  margin: 30px;
  padding: 70px;
  background-color: rgb(89, 131, 221);
}

a {
  align-items: center;
  color: rgb(16, 35, 51);
}

h1 {
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
}

#logo {
  display: flex;
  width: 50px;
  height: 30px;
  margin: 20px;
}

.box-img {
  width: 50px;
  height: 70px;
  padding: 40px;
  margin: 10;
}

.box {
  display: inline-block;
  width: 308px;
  height: 400px;
  background-color: grey;
  border: solid 5px rgb(80, 80, 165);
  margin: 34px;
  padding: 10px;
  text-align: center;
}

body {
  background-image: url(images/Egypt1.webp);
}

nav {
  background-color: rgb(20, 2, 98);
  display: flex;

  height: 100px;
  padding: 10px;
}

#div-logo {
  width: fit-content;
  display: flex;
  align-items: center;
}
